<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">

        <mat-form-field>
            <input matInput type="text" formControlName="title" placeholder="Post Title">
            <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
        </mat-form-field>



        <mat-form-field>
            <textarea matInput rows="4" formControlName="content" placeholder="Post Content"></textarea>
            <mat-error *ngIf="form.get('content').invalid">Please enter a post content.</mat-error>
        </mat-form-field>

        <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview != null">
            <img [src]="imagePreview" [alt]="form.title">
        </div>

        <div>
            <input type="file" #filepicker (change)="onImagePicked($event)">
            <button mat-stroked-button color="" (click)="filepicker.click()" type="button">Image</button>
            <span class="spacer"></span>
            <button mat-stroked-button color="primary" type="submit">Save Post</button>
        </div>
    </form>

</mat-card>
