<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">

        <mat-form-field>
            <input matInput type="text" formControlName="title" [ngModel]="post?.title" placeholder="Post Title">
            <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
        </mat-form-field>




        <div>

        </div>


        <mat-form-field>
            <textarea matInput rows="4" formControlName="content" placeholder="Post Content"></textarea>
            <mat-error *ngIf="form.get('content').invalid">Please enter a post title.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="file" #filepicker>
            <button mat-stroked-button color="" (click)="filepicker.click()" type="button">Image</button>
            <span class="spacer"></span>
            <button mat-stroked-button color="primary" type="submit">Save Post</button>
        </mat-form-field>



    </form>
</mat-card>
